<div class="row bg-secondary round-4 text-light">
    <div class="container mb-3">
        <h3 class="p-3">Perangkat Pembelajaran</h3>
        Temukan perangkat pembelajaran yang telah dibuat oleh rekan guru lainnya.
    </div>
    <div class="container mb-3">
        <div class="card bg-light rounded-4 text-dark">
            <div class="card-body mb-3">
                <form action="/cari_perangkat" method="post">
                <label for="cariPraktik">
                <h4>Cari Contoh Perangkat Pembelajaran</h4>
                </label>
                <div class="input-group rounded p-3">
                <input type="search" class="form-control rounded" name="cariperangkat" placeholder="Ketik kata kunci perangkat pembelajaran . . . ." id="cariPraktik" />
                <button type="submit" class="input-group-text border-0" id="search-addon">
                    <i class="fa fa-search"></i>
                </button>
                </div>
            </div>
        </form>
        </div>
        </div>
</div>
